@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700;900&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    font-family: 'Montserrat', sans-serif;
}

:root {
    --dark-grey: #121414;
    --medium-grey: #252525;
    --mustard: #ffa400;
    --red: #fc2933;
    --light-grey: #4d4d4d;
}

body {
    background-color: var(--dark-grey);
    color: #fff;
}

.backHeader {
    width: 100%;
    position: sticky;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 3;
    background-color: var(--dark-grey);

}

.logoHeader {
    max-width: 70px;
    min-width: 50px;
}

.logoHeader>img {
    width: 100%;
}

header {
    max-width: 1825px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 30px;
}

.navbar {
    display: flex;
    align-items: center;
    gap: 30px;
}

.home a {
    color: #fff;
}

.wheels {
    width: 22px;
    display: flex;
    justify-content: space-around;
}

.wheel {
    background-color: #ffa400;
    width: 3px;
    height: 3px;
    border-radius: 50%;
}

.user,
.cart-div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2px;
    cursor: pointer;
}

.user-head {
    background-color: #ffa400;
    width: 10px;
    height: 10px;
    border-radius: 50%;
}

.cart {
    display: none;
    flex-direction: column;
    background-color: var(--medium-grey);
    z-index: 4;
    position: absolute;
    top: 0;
    right: 0;
    justify-content: center;
    align-items: center;
    width: 350px;
    transition: all .4s ease-in;
    transform: translate(150%);
    padding: 20px;
    gap: 15px;
    border-bottom-left-radius: 5px;
}

.open-cart {
    transition: all .3s ease-in-out;
    transform: translate(0);
}

.see-blur {
    width: 100vw;
    height: 100vh;
    left: 0;
    top: 0;
    background-color: #121414a1;
    z-index: 1;
    position: absolute;
}

.see-blur::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    backdrop-filter: blur(10px);

}

.to-left {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: left;
    gap: 20px;
    width: 310px;
}

.btn-close {
    width: 18px;
    height: 18px;
    background: linear-gradient(90deg, rgba(255, 161, 0, 1) 0%, rgba(251, 16, 61, 1) 100%);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 4px;
    cursor: pointer;
}

.btn-close img {
    width: 7px;
    position: relative;
    bottom: 1px;
    right: 1px;
}

.cart h3 {
    font-weight: 400;
    font-size: 19px;
}

.cart p {
    font-weight: 400;
    font-size: 12px;
}

.cart-divider {
    width: 320px;
    height: 1px;
    background-color: var(--light-grey);
}

.delivery-line {
    width: 290px;
    display: flex;
    justify-content: space-between;
}

.cart-bottom {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 9px;
}

.btn-buy {
    appearance: none;
    padding: 12px;
    background: linear-gradient(90deg, rgba(255, 161, 0, 1) 0%, rgba(251, 16, 61, 1) 100%);
    border-radius: 10px;
    font-size: 10px;
    font-weight: 600;
    color: #fff;
    border: none;
    width: 200px;
    cursor: pointer;
}

.more-products {
    font-size: 10px;
    font-weight: 400;
    color: var(--light-grey);
    cursor: pointer;
}

.shoping-list {
    display: flex;
    flex-direction: column;
    gap: 30px;
    padding: 20px 0 40px 0;
    align-items: center;
}

.cart-product {
    display: flex;
    padding: 15px;
    align-items: center;
    justify-content: space-between;
    width: 280px;
    height: 90px;
    border-radius: 15px;
    box-shadow: 0px 0px 25px 5px rgb(0 0 0 / 30%);
}

.cart-prod-img {
    width: 60px;
    height: 60px;
    border-radius: 15px;
}

.cart-prod-img img {
    height: 100%;
    width: 100%;
}

/*   no puedo hacer que no se deformen las fotos sin ponerlas desde el url aca en css, lo que nos complica en js, alguno sabe como? 
sino es en los assets tener las versiones rectangulares y las cuadradas de cada foto y en js vincularlas con diferentes ${}   */

.cart-product-data {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
}

.cart-product-data h6 {
    font-size: 11px;
    font-weight: 400;
    color: #606060;
}

.cart-product-data span {
    font-size: 72px;
    background: -webkit-linear-gradient(0deg, #ffa100, #fb103d);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 17px;
    font-weight: 700;
}

.quantity-regulator {
    display: flex;
    gap: 10px;
}

.quantity-handler {
    width: 20px;
    height: 20px;
    border-radius: 6px;
    cursor: pointer;
    background: linear-gradient(90deg, rgba(255, 161, 0, 1) 0%, rgba(251, 16, 61, 1) 100%);
    color: #fff;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
}

.inactive {
    background: linear-gradient(90deg, rgba(58, 48, 33, 1) 0%, rgba(58, 34, 41, 1) 100%);
}

.inactive p {
    background: -webkit-linear-gradient(0deg, #ffa100, #fb103d);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.quantity-regulator p {
    font-size: 13px;
    font-weight: 300;
}

.quantity-regulator .down p {
    font-size: 24px;
    font-weight: 500;
    position: relative;
    bottom: 2px;
}

.quantity-regulator .up p {
    font-size: 18px;
    font-weight: 400;
}

/* Fin header */

/* Main  */
.contenedorMain {
    height: 80vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

main {
    max-width: 1825px;
    width: 100%;
    height: 100%;
    display: flex;
    padding: 10px 30px;
    flex-wrap: wrap;

}

.tituloInfo {
    display: flex;
    flex-direction: column;
    width: 50%;
    font-size: 30px;
    gap: 10px;
    padding-left: 85px;
    padding-top: 69px;
}

.tituloInfo p {
    font-size: 20px;
}

.tituloInfo button {
    font-size: 20px;
}

.imgPrincipal {
    position: relative;
    width: 50%;
}

.pizzaLogo1 {
    position: absolute;
    height: 265px;
    width: 265px;
    top: 110px;
    right: 258px;
    z-index: 1;
}

.pizzaLogo2 {
    position: absolute;
    /* height: 200px; */
    width: 392px;
    z-index: 2;
    right: 0px;
    /* top: 1px; */
}

.recomendaciones {
    height: 200px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 10px;
}

.recom-txt {
    top: 1px;
    width: 100%;
    text-align: start;
    padding-left: 85px;
}


.contenedorRecomendaciones {
    width: 90%;
    display: flex;
    gap: 90px;

    justify-content: center;

}

.recomendaciones-fix {
    height: 110px;
    width: 400px;
    gap: 10px;
    background-color: #252525;
}

.recomendado-btn {
    width: 20%;
}

.recom-img-fix {
    width: 126px;
    height: 82px;
}

section {
    display: flex;
    justify-content: center;
    align-items: center;
}

.categorias {
    height: 400px;
    width: 83vw;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.categoriasContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
}

.categoriasCard {
    font-family: 'Montserrat', sans-serif;
    width: 150px;
    height: 170px;
    background-color: #252525;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-size: 15px;
    gap: 5px;
    border-radius: 20px;
    cursor: pointer;
}



.categoriasCard button {
    height: 4px;
    width: 30px;
    background: linear-gradient(90deg, rgba(255, 161, 0, 1) 0%, rgba(251, 16, 61, 1) 100%);
    border: none;
    border-radius: 3px;
}